.wul-footer {
    padding: 32px 0;
    background-color: var(--clr-black);

    &__out {
        display: flex;
        justify-content: space-between;
        padding-bottom: 32px;
        &--sec {
            border-top: 1px solid #f1f1f1;
            padding-bottom: 0;
            padding-top: 32px;
        }
    }

    &__left {
        width: 55%;
    }

    &__right {
        width: 30%;
    }

    &__logo {
        width: 20%;
        height: auto;
        margin-right: 32px;
        img {
           width: 200px;
           height: auto; 
        }
    }

    &__terms {
        // width: 70%;
        // &-head {
        //     color: var(--clr-white);
        //     font-size: 13px;
        //     font-weight: 400;
        //     padding-bottom: 4px;
        // }
        // ul {
        //     li {
        //         color: var(--clr-white);
        //         font-size: 13px;
        //         font-weight: 400;
        //         padding-bottom: 4px;
        //         position: relative;
        //         padding-left: 16px;
        //         &.bullet-none {
        //             &::after {
        //                 display: none;
        //             }
        //         }
        //         a {
        //             color: var(--clr-white);
        //             text-decoration: underline;
        //             &:hover {
        //                 color: var(--clr-white); 
        //             }
        //         }
        //         &::after {
        //             position: absolute;
        //             content: "";
        //             left: 0;
        //             top: 6px;
        //             width: 4px;
        //             height: 4px;
        //             background-color: var(--clr-white);
        //             border-radius: 50%;
        //         }
        //     }
        // }
        // &-txt {
        //     font-size: 13px;
        //     color: var(--clr-white);
        //     font-weight: 400;
        //     padding-bottom: 24px;
        //     a {
        //         color: var(--clr-white);
        //         text-decoration: underline;
        //         &:hover {
        //             color: var(--clr-white); 
        //         }
        //     }
        //     &:last-child {
        //         padding-bottom: 0;
        //     }
        // }

        p {
            font-size: 13px;
            color: var(--clr-white);
            font-weight: 400;
            padding-bottom: 24px;
            a {
            font-size: 13px;
            // color: var(--clr-white);
            color: blue;
            font-weight: 400;
            text-decoration: underline;
            }
        }
    }

    &__heading {
        color: var(--clr-white);
        font-size: 16px;
        font-weight: 400;
        padding-bottom: 24px;
    }

    &__list {
        ul {
            display: flex;
            flex-wrap: wrap;
            li {
                color: var(--clr-yellow);
                font-size: 14px;
                font-weight: 400;
                padding-right: 16px;
                padding-bottom: 4px;
                a {
                    color: var(--clr-yellow);
                    &:hover {
                        color: var(--clr-yellow);
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    &__social {
        display: flex;
    }

    &__icon {
        width: 40px;
        height: 40px;
        margin-right: 16px;
        display: flex;
        transition: 0.3s;

        img {
            width: 100%;
            height: 100%;
            display: block;
        }

        &:hover {
            transform: translateY(3px);
            transition: 0.3s;
        }
    }
}

@include mobile {
    .wul-footer {
        &__out {
            flex-direction: column;
        }

        &__left {
            width: 100%;
        }
        &__right {
            width: 100%;
        }
        &__logo {
            width: 100%;
            padding-bottom: 24px;
        }
        &__terms {
            width: 100%;
        }
    }
}