.wul-fxrates {
    background-color: var(--clr-yellow);

    .wul-title {
        font-size: 52px;
        font-weight: 500;
        margin-bottom: 30px;
        font-family: "PP Right Grotesk Wide";
        padding-top: 25px;

        a {
            color: #0a0005;
        }
    }

    &__bg {
        width: 100%;
        min-height: 700px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__rewardshd {
        font-size: 30px;
        font-weight: 900;
        color: #000;
        padding-bottom: 20px;
        font-family: "PP Right Grotesk Wide";
    }

    &__rewardstxt {
        font-size: 30px;
        color: #000;
        font-weight: 500;
        padding-bottom: 15px;
        font-family: "PP Right Grotesk Wide";
    }

    &__mapsec {
        width: 50%;
        margin: 35px 0px 70px 0px;
    }

    &__mapsechd {
        font-size: 18px;
        font-weight: 500;
        color: #000;
        padding-bottom: 10px;
    }

    &__mapcontainer {
        display: flex;
        align-items: center;
        gap: 20px;
        width: 100%;
    }

    &__card {
        width: 50%;

        img {
            width: 100%;
        }
    }

    &__link {
        color: #000;
        font-size: 16px;
        font-weight: 500;
        text-decoration: underline;
    }

    &__tchead {
        font-size: 16px;
        color: #000;
        padding-bottom: 8px;

        span {
            font-size: 16px;
            color: #000;
            font-weight: 600;
        }
    }

    &__tc {
        width: 45%;
        padding-bottom: 20px;
    }

    &__tctxt {
        font-size: 14px;
        color: #000;
        padding-bottom: 8px;
    }
}

@include tablet-pro {
    .wul-fxrates {

        .wul-title {
            font-size: 48px;
        }

        &__rewardshd {
            font-size: 28px;
        }

        &__rewardstxt {
            font-size: 26px;
        }
    }
}

@include tablet {
    .wul-fxrates {

        .wul-title {
            font-size: 48px;
        }

        &__rewardshd {
            font-size: 28px;
        }

        &__rewardstxt {
            font-size: 26px;
        }

        &__bg {
            background-position: left;
        }

        &__mapsec {
            width: 95%;
        }

        &__tc {
            width: 100%;
        }
    }
}

@include mobile {
    .wul-fxrates {

        &__bg {
            background-position: left;
        }

        .wul-title {
            font-size: 36px;
        }

        &__rewardshd {
            font-size: 24px;
        }

        &__rewardstxt {
            font-size: 22px;
        }

        &__mapsec {
            width: 100%;
        }

        &__mapcontainer {
            flex-direction: column;
        }

        &__card {
            width: 90%;
        }

        &__tc {
            width: 100%;
        }
    }
}